<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - Tal[KR]</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Tal<span class="green">KR</span></h2>
      </div>

      <div class="reset-password-form">
        <h2>Reset Password</h2>
        <form id="reset-password-form">
          <input
            type="password"
            id="new-password"
            placeholder="New Password"
            required
          />
          <input
            type="password"
            id="confirm-password"
            placeholder="Confirm New Password"
            required
          />
          <button type="submit">Set New Password</button>
        </form>
        <div id="message"></div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("reset-password-form");
        const message = document.getElementById("message");

        form.addEventListener("submit", function (e) {
          e.preventDefault();
          const newPassword = document.getElementById("new-password").value;
          const confirmPassword =
            document.getElementById("confirm-password").value;

          if (newPassword !== confirmPassword) {
            message.textContent = "Passwords do not match.";
            return;
          }

          fetch("/reset_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              token: "{{ token }}",
              new_password: newPassword,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Password reset successful") {
                message.textContent =
                  "Password reset successful. You can now log in with your new password.";
                form.style.display = "none";
              } else {
                message.textContent = data.message;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              message.textContent = "An error occurred. Please try again.";
            });
        });
      });
    </script>
  </body>
</html>
